/* AdminDashboard.css */

/* Transici칩n para la imagen en el dashboard */
.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }
  
  .toggle-sidebar-btn {
    background-color: #212529 !important; /* Azul Bootstrap */
    border: none !important;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white; /* Texto blanco */
    border-radius: 0.25rem;
  }

  .toggle-sidebar-btn:hover {
    background-color: #212529 !important; /* Azul m치s oscuro al pasar el rat칩n */
  }

  /* Sidebar fijo y a toda la altura de la p치gina */
.sidebar {
  width: 250px;
  min-height: 100vh; /* Siempre al menos toda la altura de la ventana */
  background-color: #212529; /* Igual que bg-dark */
}

/* En pantallas grandes, sidebar fijo */
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
  }

  .main-content {
    margin-left: 250px; /* Para que no se solape el contenido */
  }
}

